<div>
  <ul class = "list-letters">
  <% @letters_array.each do |letter|%>
  <li><%=letter%></li>
  <%end%>
  <ul>
</div>
<br>
<div class="answer-form">
  <form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="answer" placeholder="Enter the answer">
    <input type="text" hidden name="letters" placeholder="Enter the answer" value = "<%=@letters_array.join%>" >
    <input type="submit">
  </form>

</div>